/* common style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 1588px;
    height: 100%;
    margin: 140px auto;
}


/*--------- Banner style----------- */
.banner {
    width: 1321px;
    height: 646px;
    margin: auto;
    background-color: #161616;
    border-radius: 30px;
}
.text-continer {
    width: 531px;
    height: 452px;
}

.container {
    display: flex;
    color: #FFFFFF;
}

.banner-text {
    color: #FFFFFF;
    width: 50%;
    height: 100%;
    width: 531px;
    height: 240px;
    font-weight: 800;
    }

.headline {
    width: 557px;
    height: 240px;
    left: 219px;
    top: 184px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-left: 80px;
    margin-top: 78px;
}
.para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 80px;
    margin-top: 20px;
}

.btn {
    display: flex;
    flex-direction: row;
    padding: 16px 25px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 80px;    
}
.fa {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 1px ;
}

.banner-image img {
    position: relative;
    width: 581px;
    height: 613px;
    left: 50px;
    top: 33px;
}

/* Blog Items Styles */
.blog-bar {
    /* position: relative; */
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 135px;
    
    
}
.blog-bar .menu-bar {
    position: relative;
    
}
.menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 312px;
    height: 312px;
    margin-top: 100px; 
    background-color: #000000;
    border-radius: 20px;
}

nav li {
    list-style: none; 
    margin-top: 15px;
    margin-bottom: 20px;
}
nav li :hover, .btn:hover, .social li:hover {
    background-color: blue;
    border: none;
}
#active {
    background-color: #DD0000;
    color:#FFFFFF; 
}
.menu {
    display: flex;
    color: black;
    text-decoration: none;
    width: 252px;
    height: 64px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width:100%;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 0%;
}

.blogs, .flag-box {
    border: 1px solid rgba(211, 211, 211, 0.671);
    border-radius: 10px;
}
.blogs img {
    width: 100%;
}
.blogs h4 {
    width: 272px;
    height: 44px;
    left: 496px;
    top: 1068px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 10px;

}
.blogs p {
    width: 143px;
    height: 26px;
    left: 496px;
    top: 1142px;
    margin: 10px;
}
button {
    text-decoration: none;
    background-color: white;
    width: 100px;
    height: 32px;
    left: 496px;
    top: 1021px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
/* Up coming Matches */
.match-box:hover, .blogs:hover {
    border: .5px solid blue;
    border-radius: 10px;
}
.match-list { 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2.1fr);
    gap: 20px;
    height:508px;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 0%;
}
.flags {
    margin-top: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flags img {
    width: 93.04px;
    height: 56.18px;
    left: 506px;
    top: 1145px; 
}
.flags h3 {
margin: 0 19px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
}
.team-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px; 
}
.view-more {
    visibility: hidden;
}
#hide-tab {
    visibility: visible;
}

/* footer style  */
.footer {
    position: absolute;
    width: 1588px;
    height: 600px;
    background: #161616;
    align-items: center; 
    margin-top: 100px;
    }
footer a {
    text-decoration: none;
    color: white;
}
footer li {
    list-style: none;
    margin: 25px;
    font-size: 16px;
}

footer .goal {
margin-top: 100px;
margin-bottom: 100px;
padding-top: 100px;
font-size: 30px;
text-align: center;
color: #FFFFFF;
}
.footer-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li {
    color: white;
    font-size: 40px;
}


/* Media Queries For Mobile */
@media only screen and (max-width:688px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        width: 100%;
        height: 100%;
        left: 21px;
        top: 4px;
        background: #161616;
        border-radius: 10px;
    }
    .header h1, .header .para {
        text-align: center;
    }
    .headline {
        padding-right: 100px;
    }
    .header .para {
        padding-left: 10px ;
    }
    .header .btn {
        margin-left:200px ;
    }
     .header  .banner-image {
            width:100%;
            height: 650px;
            padding-left: 35%;   
        }
        .blog-bar{
            display: flex;
            flex-direction: column;
        }
        .menu-bar {
            width: 100%;
            background-color: white;
            margin: 0%;
        }
        .menu-bar .menu{
            width: 300px;
        }
    .blog-items {
     grid-template-columns: repeat(1, 1fr);
     margin: 0;
    }
    .blogs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    .blogs h4 {
        text-align: center;
    }
    .blogs p {
    text-align: center;
}

   .footer{
    height: 100%;
   }
   .footer-list nav ul{
    display: flex;
    flex-direction: column;
   }
}

/* Media Queries For Tab */

@media only screen and (min-width:689px) and ( max-width:900px) {
    .blog-items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
       }
        .blog-bar{
        display: block;
        background-color: none;
    }
    .menu-bar{
        background-color: none;
        width: auto;
        height: 0;
       
    }
    .menu-bar ul{
        display: flex;
        flex-direction:row;
        background-color: none;
    }
    .menu-bar ul li {
        margin: 0 50px;
    }
    .view-more {
        visibility: visible;
        padding-left: 480px;
        margin-top: -200px;
    }
    #hide-tab{
        white-space: nowrap;
        visibility: hidden;
    }
    
}
   
