/* common style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: white;
    width: 1588px;
    margin: 140px auto;
    border: 1px solid black;
}


/*--------- Banner style----------- */
.banner {
    position: relative;
    width: 1321px;
    height: 646px;
    margin: auto;
    background-color: #161616;
    border-radius: 30px;
    border: 1px solid gray;
}
.text-continer {
    width: 531px;
    height: 452px;
}

.container {
    display: flex;
    color: #FFFFFF;
}

.banner-text {
    color: #FFFFFF;
    width: 50%;
    height: 100%;
    width: 531px;
    height: 240px;
    font-weight: 800;
    }

.headline {
    width: 557px;
    height: 240px;
    left: 219px;
    top: 184px;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-left: 80px;
    margin-top: 78px;
}
.para {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 80px;
    margin-top: 20px;
}

.btn {
    display: flex;
    flex-direction: row;
    padding: 16px 25px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 80px;    
}
.fa {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 1px ;
}

.banner-image img {
    position: relative;
    width: 581px;
    height: 613px;
    left: 50px;
    top: 33px;
}

/* Blog Items Styles */
.blog-bar {
    position: relative;
    display: flex;
    width: 1321px;
    height: 1335px;
    margin: auto;
    border: 1px solid gray;

}
.blog-bar .menu-bar {
    position: relative;
    
}
.menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 312px;
    height: 312px;
    margin-top: 100px; 
    background-color: #000000;
    border-radius: 10px;
}

nav li {
    list-style: none; 
    margin-top: 15px;
    margin-bottom: 20px;
}
nav li :hover, .btn:hover{
    background-color: blue;
}
#active {
    background-color: #DD0000;
    color:#FFFFFF; 
}
.menu {
    display: flex;
    color: black;
    text-decoration: none;
    width: 252px;
    height: 64px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width:100%;
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 0%;
}

.blogs {
    
    border: 1px solid lightgray;
    border-radius: 10px;
}
.blogs img {
    width: 100%;
}
.blogs h4 {
 width: 272px;
height: 44px;
left: 496px;
top: 1068px;
font-weight: 600;
font-size: 18px;
line-height: 27px;
margin: 10px;

}
.blogs p {
    width: 143px;
height: 26px;
left: 496px;
top: 1142px;
margin: 10px;
}
button {
    text-decoration: none;
    background-color: white;
    width: 100px;
    height: 32px;
    left: 496px;
    top: 1021px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    

}
